body {
  background-image: url('../imgs/forex-online.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

#chartContainer {
  max-width: 500px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(247, 243, 243, 0.8);
  margin-top: 30px;
  margin-bottom: 30px
}

.input-group {
  margin-top: 20px
}

form h4 {
  font-style: italic;
  color: white
}

.container {
  background-color: rgba(14, 14, 14, 0.7);
  max-width: 900px;
}

.container>.row {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto
}